.header {
    max-width: 1184px;
    min-width: 320px;
    margin-top: 28px;
    margin-left: 48px;
    margin-right: 48px;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 1024px) {
    .header {
        width: calc(100% - 2 * 48px);
    }
}
@media screen and (max-width: 768px) {
    .header {
        width: calc(100% - 2 * 24px);
        margin: auto;
    }
}