.header__lang-links {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    list-style-type: none;
    margin-bottom: 0;
}
@media screen and (max-width: 320px) {
    .header__lang-links {
        font-size: 18px;
        line-height: 20px;
        max-width: 62px;
    }
}